# Build artifacts
*.o
*.obj
*.ko
*.mod.c
*.mod
*.dll
*.lib
*.so
*.a
*.exe
*.out
*.app
*.ipa
*.dSYM/
*.map
*.ilk
*.pdb
*.tlog
*.idb
*.ipch


# Visual Studio files
.vs/
*.VC.db
*.VC.opendb
*.sdf
*.suo
*.user
*.ncb
*.aps
*.bsc
*.sbr
*.res
Debug/
Release/
x64/
Win32/
ipch/
obj/
bin/

# Xcode files
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
build/

# Eclipse files
.project
.classpath
.settings/

# Other IDE files
*.code-workspace
.vscode/

# Temporary files
*~
*.bak
*.swp
*.tmp
*.log
*.DS_Store
Thumbs.db

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build 

[Bb][Uu][Ii][Ll][Dd]/